nav{
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:rgb(55, 8, 101);
    font-family: cursive;
    font-weight: bolder;
    font-size: 40px;
}
p{
    color:rgb(55, 8, 101);
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}
#subt{
    padding:5px;
    background-color: rgb(88, 14, 158);
    color:white;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}
#guess{
    color:rgb(55, 8, 101);
    font-size: 20px;
    font-family: cursive;
    font-weight: bolder;
}
#guessField{
    border:4px solid rgb(55, 8, 101);
}